<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>网站信息</title>
    [#include "/includes/public.html" /]
</head>
<body bgcolor="#87cefa">
<div class="panel admin-panel" style="text-align: center">
    <div class="panel loginbox">
        <div class="text-center margin-big padding-big-top"><h2>欢迎使用中国移动管理系统</h2></div>
    </div>
    <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;text-align: center">
        您好：${operator.operatorName}<br/>
        登陆时间:<span id="cg"></span>
        <script>
            setInterval("document.getElementById('cg').innerHTML=new Date().toLocaleString();", 1000);
        </script>
    </div>

</div>
</body></html>